@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto');

 body{

 }

 .navbar-brand{
   font-family: 'Pacifico', cursive;
   text-align: left;
 }

.fotoCondominio{
  margin-top: 40px;
  margin-bottom: 50px;
  margin-right: 80px;

}
.startImg   {
    margin-top: 40px;
    margin-left: 240px;

}
 /* estilos documentacion*/
.docCards{
  margin-top: 40px;

}

.eachCard{
  display: flex;
  justify-content: space-between;

}
.card{
  box-shadow: 2px 2px gray;
}
.card-img-top{
  width: 250px;
  height: 150px;
  text-align: center;
}

.card:hover{
  box-shadow: 0px 0px #fff;

}

.btn-info{
  background-color: white;
  margin: white;
  color: black;

}

.ano2016 .ano2017 {

}

.eachBtn{
  margin-bottom: 4px;
  margin-top: 6px;
  display: flex;
  flex-direction: row;
}

.mainBtn{
  margin: 4px;
}

.logIn{
  margin-left: 600px;

}
.btn-primary{
  margin-top: 12px;
  margin-bottom: 20px;
}
.container{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.logIn{
  font-family: 'Roboto';
  max-width: 480px;
  margin-left: 50px;
  margin-top: 10px;
  background-color: #f5f5f0;
  height: 350px;
  border-radius: 4px;
  box-shadow: 2px 2px #acac86;
}
p{
  color: gray;
}
.registro{
  margin-top: 20px;
}
.form-group{
  max-width: 90%;
  margin-left: 20px;
  margin-top: 20px;
}
h2{
  font-weight: bolder;
}
.properties{
margin-top: 10px;
}
